

/* Variables */

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

/* Base */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 300px;
  background: linear-gradient(207deg, #201e1c 15%, #f7931a 100%);

  text-align: center;
}

@keyframes scaleLogo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

.header__logo {
  display: block;
  margin-bottom: 3rem;

  width: 200px;

  align-self: center;
  animation: scaleLogo 500ms infinite alternate;
}


.header__text-content {
  max-width: 900px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.header__title-content {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--just-white);
}

.header__paragraph-content {
  font-size: 1.6rem;
  color: var(--off-white);
}

.header__btn {
  width: 200px;
  height: 35px;
  display: block;

  background-color: var(--just-white);
  box-shadow: 0 5px 8px 0 rgba(89,73,30,.16);
  color: var(--black);
  font-size: 1.3rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -15px;

  line-height: 35px;
  text-decoration: none;
}

@keyframes rotateButton {
  0% { transform: translateX(-50%) rotate(0deg); }
  40% { transform: translateX(-50%) rotate(3deg); }
  60% { transform: translateX(-50%) rotate(-3deg); }
  100% { transform: translateX(-50%) rotate(0deg); }
}

.header__btn:hover {
  animation: rotateButton .5s;
}


.header__btn span {
  margin-left: .5em;
  display: inline-block;
  width: 13px;
  height: 8px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fdown-arrow.svg?alt=media&token=6667cf32-9be4-403b-acd3-665bdebea9d0);
  background-repeat: no-repeat;
}


/* Main */

main {
  width: 100%;
  background-color: var(--off-white);
}

/* Section Exchange */

.main__exchange-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  max-width: 900px;
  padding: 7rem 0;
}

.main__exchange-img {
  margin-bottom: 2rem;
}

.main__exchange-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main__exchange-paragraph {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #757575;
  font-weight: 500;
  margin-bottom: 2rem;
}

/* Table Exchange */

.main__table-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;

  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main__table-container article {
  scroll-snap-align: center;
  margin: 0 1rem;
  width: 100%;
  min-width: 260px;
}

.main__table-title {
  font-size: 1.3rem;
  text-align: left;
  padding: .5em;
}

.main__table-moneys .main__table-title {
  color: var(--bitcoin-orange);
}

.main__table-commissions .main__table-title {
  color: var(--secondary-blue);
}

.main__table-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: var(--just-white);

  border-radius: 5px;
  margin-bottom: 1rem;
}


.main__table-grid-money {
  color: #777;
  border: .5px solid #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main__table-grid-value {
  font-weight: 500;
  color: #555;
  border-top: .5px solid #eee;
  border-right: .5px solid #eee;
  border-bottom: .5px solid #eee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main__table-grid li {
  border-bottom: .5px solid #eee;
  padding: 1em;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}

.main__table-moneys li span {
  margin-left: .4rem;
  display: inline-block;
  width: 12px;
  height: 10px;
}

.main__table-moneys li:nth-of-type(1) span {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Ftrending-down.svg?alt=media&token=e221ac10-dfb3-4281-823d-bce7780c70b7);
}
.main__table-moneys li:nth-of-type(2) span {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Ftrending-down.svg?alt=media&token=e221ac10-dfb3-4281-823d-bce7780c70b7);
}
.main__table-moneys li:nth-of-type(3) span {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Ftrending-up.svg?alt=media&token=127acbd6-88d3-4e91-a8a7-a24b1a495f50);
}
.main__table-moneys li:nth-of-type(4) span {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Ftrending-up.svg?alt=media&token=127acbd6-88d3-4e91-a8a7-a24b1a495f50);
}

.main__table-time {
  width: 90%;
  padding: .5em 0;
  font-size: 1.4rem;
  background-color: var(--soft-orange);
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.main__table-moneys .main__table-time {
  background-color: var(--soft-orange);
}

.main__table-commissions .main__table-time {
  background-color: var(--soft-blue);
}

.main__table-time span {
  font-weight: bold;
}


/* Section Details */

.main__product-detail {
  background-color: var(--black);
  padding: 5rem 0;
  color: var(--just-white);

  position: relative;
}

.main__product-detail-icon {
  display: inline-block;
  width: 40px;
  height: 25px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fbatata.svg?alt=media&token=85d62faa-3a93-4f5f-bd3d-a8ad53ff2684);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.main__product-info {
  text-align: center;
  margin-bottom: 4rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.product-cards__container {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.main__product-info h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.main__product-info p {
  font-size: 1.6rem;
  color:#999;
  margin-bottom: 2rem;
}

.product-details__card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 400px;
  min-height: 188px;
  background-color: var(--warm-black);
  padding: 2rem;
  border-radius: 10px;
}

.product-details__card-icon {
  display: inline-block;
  margin-bottom: 1rem;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.icon-clock {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fclock.svg?alt=media&token=fb7c1abc-f4ec-46f6-8ed1-ed57f6814eed);
}

.icon-eye {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Feye.svg?alt=media&token=b7c744b0-e68e-42ba-bac2-764cea0fc145);
}

.icon-money {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fdollar-sign.svg?alt=media&token=6c4af44f-affa-4283-ae87-a3a0e360b499);
}

.icon-check {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fcheck-circle.svg?alt=media&token=e15c18bf-3a2f-4125-b89b-91ed6c9ccb8f);
}

.product__card-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.product__card-text {
  font-size: 1.8rem;
  color:#999;
}

/* Bitcoin Hero */

.bitcoin__img {
  width: 100%;
  min-height: 300px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Fbitcoinbaby2x.jpg?alt=media&token=be4ccccd-6a8e-4ee3-bbee-1184e07c659d);
  background-size: cover;
  background-position: center;
}

.bitconin__img-title {
  font-size: 2.5rem;
  color: var(--just-white);
  padding-top: 6rem;
  text-align: center;
}


/* Section Plans */

/* Slider */
.main__plans--slider {
  padding: 1em 0;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main__plans {
  padding: 4rem 0;
  background-color: var(--of-white);
}

.main__plans-info {
  text-align: center;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.main__plans-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.main__plans-paragraph {
  font-size: 1.5rem;
  color: #777;
}

/* Card Plane */
.plans-cards__card {
  scroll-snap-align: center;

  position: relative;
  width: 70%;
  min-width: 190px;
  width: 300px;
  margin: 0 10px;

  box-shadow: 0 5px 8px 0 rgba(89,73,30,.16);
  border-radius: 10px;
  text-align: center;
  padding: 3.5rem 1rem;
}

.plans-cards__card-type {
  width:120px;
  padding: .8em 1em;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: var(--just-white);
  font-weight: bold;
  border-radius: .5rem;

  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Card Plan Recommended */
.plan-recommended {
  background-color: var(--just-white);
}
.plan-recommended .plans-cards__card-type {
  background-color: var(--bitcoin-orange);
}

/* Card Plan Basic */
.plan-basic {
  background-color: var(--secondary-blue);
  color: var(--just-white);
}
.plan-basic .plans-cards__card-type {
  background-color: var(--warm-black);
}
.plan-basic .plans-cards__card-text {
  color: #eee;
}
.plan-basic .plans-cards__card-btn {
  background-color: var(--warm-black);
  color: inherit;
}

/* Card Plan Unlimeted */
.plan-unlimited {
  background-color: var(--black);
  color: var(--just-white);
}
.plan-unlimited .plans-cards__card-type {
  background-color: var(--grey);
}
.plan-unlimited .plans-cards__card-btn {
  background-color: var(--warm-black);
  color: inherit;
}


.plans-cards__card-shape {
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.plans-cards__card-price {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}
.plans-cards__card-price::after {
  content: "$";
  position: absolute;
  top: 10px;
  left: -10px;
  font-size: 1rem;
}

.plans-cards__card-text {
  color: #777;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}


.plans-cards__card-btn {
  margin-left: auto;
  margin-right: auto;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  width: 80%;
  border: 2px solid var(--bitcoin-orange);
  font-weight: bold;
  background-color: #F8F8F6;
  padding:1em .5em;
  border-radius: 5px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plans-cards__card-btn::after {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-left: .5em;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/my-assets-3fd08.appspot.com/o/mobile-first-project%2Forange-right-arrow.svg?alt=media&token=90eada9f-db86-4dae-b040-b5119c17ac54);
  background-size: cover;
}


/* Footer */
.footer {
  padding: 2rem;
  background-color: var(--bitcoin-orange);

  display: flex;
}

.footer section {
  width: 50%;
  display: flex;
  justify-content: center;
}

.footer-left ul {
  font-size: 1.4rem;
  font-weight: 500;
  list-style: none;
}

.footer-left li {
  margin: 1rem 0;
}
.footer-left a {
  text-decoration: none;
  color: var(--just-white);
}
